* {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-family: arial;
	box-sizing: border-box;
	
}

body {background-color: #e49;}

#wrapper {
	max-width: 1000px;
	margin: 0 auto;
	background-color: aqua;
}

.big {
	width:100%;
	display: block;
}

nav {
	background-color: #e387;
}

nav a {}

a.menu {
	display: inline-table; 
	width: 15%;
	padding: 20px 15px 20px 15px;
	color: white;
	text-decoration: none;
	text-align: center;
}

a.menu:hover {
	background-color: crimson;
}

.active {
	background-color: crimson;
}

article {
	margin-top: 30px;
	margin-bottom; 20px;
	padding: 0 20px;
}

article h1 {
	font-size:30px;
	text-align:center;
	margin: 0 10% 20px 10%;
	padding-bottom: 15px;
    border-bottom: 2px solid crimson;	
}

img.down {
	float:left;
	margin: 0px 10px 10px 0;
	width: 50% ;
	border-radius: 20%;
}

article p {
	text-align:justify;
	line-height: 25px;
	font-size: 18px;
	padding: 15px 0 15px 0;
	
	
	}
	
	iframe {
		width:100%;
		
	}
	
	footer {
		height: 40px;
		background-color: #e387;
		color:white;
		line-height: 40px;
		text-align: center;
	}
